// Place all the styles related to the public/favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.like-link {
  text-decoration: none;
}

.like-btn {
  font-size: 1em;
  color: #808080;
}

.unlike-btn {
  font-size: 1em;
  color: #e54747;
}