<div class="container-fluid">
 <div class="text-center">
   
    <div class="text-center"><h1 class="display-1"><strong></strong>-カミドルズ!!-とは</h1></div>
    
    <div class="col-12 text-center">
      <p class="">フューチャーアイドルとそのファンのためのSNS「Upcoming Idols！！　-カミドルズ!!-」<br>
      自分の「推し」を発信したいファンの皆さん、<br>
      自分たちのことを発信したいアイドルの皆さんのためのSNSです！<br>
      </p>
    </div>
  </div>
</div>
